<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "mapper">
	
	<resultMap type="map" id="mapList">
		<result column="seq" property="seq" ></result>
		<result column="mem_name" property="memName" ></result>
		<result column="mem_id" property="memId" ></result>
		<result column="board_subject" property="boardSubject" ></result>
		<result column="board_content" property="boardContent" ></result>
		<result column="reg_date" property="regDate" ></result>
		<result column="upt_date" property="uptDate" ></result>
		<result column="view_cnt" property="viewCnt" ></result>
	</resultMap>
	<select id="list" parameterType="map" resultMap="mapList">
		select
			seq
			,mem_name
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,upt_date
			,view_cnt
		from board_study
	</select> 
	
	<resultMap id="mapList1" type="map">
		<result column="seq" property="seq"></result>
		<result column="mem_id" property="memId"></result>
		<result column="board_subject" property="boardSubject"></result>
		<result column="board_content" property="boardContent"></result>
		<result column="reg_date" property="regDate"></result>
		<result column="upt_date" property="uptDate"></result>
		<result column="view_cnt" property="viewCnt"></result>
	</resultMap>
	<select id="list1" parameterType="map" resultMap="mapList1">
		select
			seq
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,upt_date
			,view_cnt
		from board_study
	</select>
	
	<resultMap type="map" id="maplist2">
		<result column="seq" property="seq"></result>
		<result column="mem_id" property="memId"></result>
		<result column="board_subject" property="boardSubject"></result>
		<result column="board_content" property="boardContent"></result>
		<result column="reg_date" property="regDate"></result>
		<result column="upt_date" property="uptDate"></result>
		<result column="view_cnt" property="viewCnt"></result>
	</resultMap>
	
	<select id = "list2" resultMap="maplist2">
		select
			seq
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,upt_date
			,view_cnt
		from board_study
	</select>
	
	<insert id="add">
		insert into board_study (
		seq
		,mem_name
		,mem_id
		,board_subject
		,board_content
		,reg_date
		,view_cnt)
		values (
		(select nvl(max(seq),0)+1 from board_study)
		,#{memName}
		,#{memId}
		,#{boardSubject}
		,#{boardContent}
		,sysdate
		,'0')
	</insert>
	
	<update id="modify" parameterType="map">
		update board_study set
		mem_name = #{memName}
		,mem_id = #{memId}
		,board_subject = #{boardSubject}
		,board_content = #{boardContent}
		,upt_date = sysdate
		where seq = #{seq}
	</update>
	
	<resultMap type="map" id="molist">
		<result column="seq" property="seq"></result>
		<result column="mem_name" property="memName"></result>
		<result column="mem_id" property="memId"></result>
		<result column="board_subject" property="boardSubject"></result>
		<result column="board_content" property="boardContent"></result>
		<result column="reg_date" property="regDate"></result>
		<result column="upt_date" property="uptDate"></result>
		<result column="view_cnt" property="viewCnt"></result>
	</resultMap>
	
	<select id="modi" resultMap="molist">
		select
			seq
			,mem_name
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,upt_date
			,view_cnt
		from board_study
		where seq = #{sub}
	</select>
	
	<update id="cnt">
		update board_study
		set view_cnt = #{viewCnt}+1
		where seq = #{seq}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from board_study
		where seq in
			<foreach collection="chk" item="item" open="(" close=")" separator=",">
				 #{item}
			</foreach>
	</delete>
	
	<select id="miplTest" parameterType="map" resultMap="mapList">
		select
			seq
			,mem_name
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,upt_date
			,view_cnt
		from board_study
	</select>
	
	<select id="miplSearch" parameterType="map" resultMap="mapList">
		select
			seq
			,mem_name
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,upt_date
			,view_cnt
		from board_study
		where
		<choose>
			<when test="menu == total">
				mem_name like '%'||#{textbar}||'%' or
				board_subject like '%'||#{textbar}||'%' or
				board_content like '%'||#{textbar}||'%'
			</when>
			<when test="menu == name">
				mem_name like '%'||#{textbar}||'%'
			</when>
			<when test="menu == subject">
				board_subject like '%'||#{textbar}||'%'
			</when>
			<otherwise>
				board_subject like '%'||#{textbar}||'%' or
				board_content like '%'||#{textbar}||'%'
			</otherwise>
		</choose>
	</select>
	
	<!-- 페이징 처리 -->
	<select id="totalCount" parameterType="map" resultType="integer">
		select count(seq) from board_study
	</select>
	
	<select id="limitSave" parameterType="map" resultMap="mapList">
		select
			seq
			,mem_name
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,upt_date
			,view_cnt
		from (select rownum rnm
			,seq
			,mem_name
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,upt_date
			,view_cnt
		from (select seq
			,mem_name
			,mem_id
			,board_subject
			,board_content
			,reg_date
			,upt_date
			,view_cnt from board_study order by seq desc))
		where 1=1
				<choose>
					<when test="keyword == null">
						and rnm <![CDATA[>=]]> (${firstPage}-1)*${limit}+1 and rnm <![CDATA[<=]]> ${firstPage}*${limit}
					</when>
					<otherwise>
						<choose>
							<when test="searchOption == 'all'">
								and (mem_name like '%'||#{keyword}||'%' or
								board_subject like '%'||#{keyword}||'%' or
								board_content like '%'||#{keyword}||'%') and
								reg_date between to_date(#{datepicker}, 'YYYY-MM-DD') and to_date(#{datepicker1}, 'YYYY-MM-DD')+1
							</when>
							<when test="searchOption == 'writer'">
								and mem_name like '%'||#{keyword}||'%' and
								reg_date between to_date(#{datepicker}, 'YYYY-MM-DD') and to_date(#{datepicker1}, 'YYYY-MM-DD')+1
							</when>
							<when test="searchOption == 'title'">
								and board_subject like '%'||#{keyword}||'%' and
								reg_date between to_date(#{datepicker}, 'YYYY-MM-DD') and to_date(#{datepicker1}, 'YYYY-MM-DD')+1
							</when>
							<otherwise>
								and (board_subject like '%'||#{keyword}||'%' or
								board_content like '%'||#{keyword}||'%') and
								reg_date between to_date(#{datepicker}, 'YYYY-MM-DD') and to_date(#{datepicker1}, 'YYYY-MM-DD')+1
							</otherwise>
						</choose>
						and rnm <![CDATA[>=]]> ${firstPage} and rnm <![CDATA[<=]]> ${limit}
					</otherwise>
				</choose>
	</select>
</mapper>